<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rentalcarsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.home.user.UsersManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.user.AddUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.admin.user.CreateUserInfoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.register.RegisterInforActivity"
            android:screenOrientation="portrait"></activity>

        <!--        <activity android:name=".ui.login.LoginActivity">-->
        <activity
            android:name=".ui.login.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.admin.car.ListCarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.user.CreateUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.home.car.RecyclerCarActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ui.admin.booking.ListBookingActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".ui.home.car.CarDetailsActivity">

        </activity>
        <activity
            android:name=".ui.admin.user.UpdateUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.user.UpdateUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.forgot.ForgotPasswordActivity" />

        <activity android:name=".ui.home.payment.CreditCard"></activity>
        <activity android:name=".ui.home.payment.ChoosePaymentActivity"></activity>

        <activity android:name=".ui.home.payment.ChooseTimeActivity">


        </activity>

        <activity android:name=".ui.home.booking.BookingDetails">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>
